/* change body width */
body {
    max-width: 100ch;
}

/* for Code Block export */
/*   change tooltip text to black */
pre.src:hover:before {
    color: black;
}
/*   add tooltip for lowercase 'c' */
pre.src-c:before {
    content: 'C';
}

/* remove theme's default table caption, use org-mode's instead */
caption::before {
    all: initial;
}

/* change table, image, and code block caption number to bold */
.table-number, .figure-number, .listing-number {
    font-weight: bold;
}

/* center table */
table {
    margin-left: auto;
    margin-right: auto;
}

/* use dark background for code, taken from
https://emacs.stackexchange.com/q/3374/33265 */
pre.src {
    background-color: #303030;
    color: #e5e5e5;
}

/* add shadow to inline code */
code {
    background-color: #E8E8E8;
    border-radius: 3px;
    padding: 2px;
}

/* change code line height to normal */
pre.src {
    line-height: normal;
}

/* for postamble, no border and gray text*/
table.postamble {
    border-top: hidden;
    border-bottom: hidden;
    color: gray;
}
table.postamble td {
    line-height: 1.2;
    padding: 0.2rem;
}
table.postamble a {
    color: darkgray;
}

/* do not let LaTeX CSS compute TOC number */
nav li:before {
    content: none;
}

/* center figure caption */
figcaption {
    text-align: center;
}

/* center <p> tag inside class org-center */
.org-center p {
    text-align: center;
}

/* use flexible layout for sitemap list entry, inspired by CSS style of:
     https://blog.sunfishcode.online/ */
.sitemap-list li {
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5ch;
}

/* when screen becomes too narrow, display the original left & right
   aligned text on separate lines */
@media (max-width: 38rem) {
    .sitemap-list li :first-child {
        width: 100%
    }
}
